/* === Tipografía general === */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
}

/* === Hero header === */
header {
  background: #f2f2f2;
  padding: 4rem 0;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

header p {
  font-size: 1.25rem;
  color: #666;
}

.hero-header {
  background-image: url('img\banner_empresa.png');
  background-size: cover;
  background-position: center;
  height: 50vh;
  position: relative;
}


/* === Imágenes con sombra y bordes suaves === */
img.img-fluid {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

/* === Sección de equipos === */
section h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

section p {
  color: #555;
}

.iconBoot{
  color : #002159;
}

/* === Footer === */
footer {
  font-size: 0.95rem;
  background-color: #222;
  color: #eee;
}

footer a {
  color: #eee;
  text-decoration: none;
}

footer a:hover {
  color: #0dcaf0; /* Bootstrap cyan */
}
